name: Configure workflows to run for one or more events.
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - dev
  workflow_dispatch:
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: testing events
              run: echo "$GITHUB_TOKEN"
            - name: dev branch
              run: echo "this is dev branch"
    
