name: using GHCR
on:
    push:
        branches:   [main, dev]
env:
      IMAGE_NAME: python-image
jobs:
  pre-req:
    runs-on:  ubuntu-latest
    env:
      REGISTRY: ghcr.io
    steps:
      - name: to checkout code
        uses: actions/checkout@v4
      - name: auth to ghcr
        uses: docker/login-action@v3
        with:
          registry: ${{env.REGISTRY}}
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}
  build-image:
    runs-on:  ubuntu-latest
    needs: pre-req
    
    steps:
      - name: build docker image
        run:  |
          docker build -t ${{github.repository}}/${{env.IMAGE_NAME}}:latest ./Dockerfile
          docker build -t ${{github.repository}}/${{env.IMAGE_NAME}}:${{github.ref_name}}
      - name: list docker images
        run:  |
          docker images
  publish-image:
    runs-on:  ubuntu-latest
    needs: build-image
    steps:
      - name: pub image
        run:  |
          docker push ${{github.repository}}/${{env.IMAGE_NAME}}:latest 
          docker push ${{github.repository}}/${{env.IMAGE_NAME}}:${{github.ref_name}}
      