name: Using GHCR

on:
  push:
    branches: [main, dev]

env:
  IMAGE_NAME: python-image
  REGISTRY: ghcr.io
permissions:
  contents: read
  packages: write

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t ${{ env.REGISTRY }}/${{ github.repository_owner }}/github-exam:latest .
          docker tag ${{ env.REGISTRY }}/${{ github.repository_owner }}/github-exam:latest \
                     ${{ env.REGISTRY }}/${{ github.repository_owner }}/github-exam:${{ github.ref_name }}

      - name: List images
        run: docker images

      # - name: Login to GHCR
      #   uses: docker/login-action@v3
      #   with:
      #     registry: ${{ env.REGISTRY }}
      #     username: ${{ github.actor }}
      #     password: ${{ secrets.GITHUB_TOKEN }}

      - name: Log in to registry
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Push images
        run: |
          docker push ${{ env.REGISTRY }}/${{ github.repository_owner }}/github-exam:latest
          docker push ${{ env.REGISTRY }}/${{ github.repository_owner }}/github-exam:1.0.0