name: Runner + Service Container

on:
  push:
    branches: [main,dev]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      db:
        image: mysql:8.1
        env:
          MYSQL_ROOT_PASSWORD: yoyoy
          MYSQL_DATABASE: testdb
        options: >-
          --health-cmd="mysqladmin ping -h localhost -pyoyoy"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Test connection to MySQL
        run: |
          echo "Connecting to MySQL at host 'db'"
          mysql -h localhost -P 3306 -uroot -pyoyoy -e "SHOW DATABASES;"
