name: using a cdocker container action
on:
  push:
    branches: [dev,main]


jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast:  true
      matrix:
        os: [ubuntu-latest, windows-latest]
        node: [14, 16, qwe]
        include:
          - os: macos-latest
            node: 18
          - os: ubuntu-latest
            node: 14
    steps:
    - name: hi
      uses: actions/setup-node@v6
      with:
        node-version: ${{matrix.node}}
  test:
    runs-on:  ubuntu-latest
    steps:
      - name: asas
        run: |
          echo "hi"     