name: Set Env Using Workflow Command

on:
  push:
    branches: [ main , dev]

jobs:
  dynamic-env:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Generate timestamp
        run: |
          TIMESTAMP=$(date +%Y%m%d%H%M%S)
          echo "BUILD_TIMESTAMP=$TIMESTAMP" >> $GITHUB_ENV

      - name: Print dynamic env variable
        run: |
         echo "Build timestamp: $BUILD_TIMESTAMP"

      - name: Use dynamic variable in command
        run: |
          mkdir "release-$BUILD_TIMESTAMP"
          echo "Created folder release-$BUILD_TIMESTAMP"
