name: Use GITHUB_TOKEN Example

on:
  pull_request:
    branches: [main,dev]

jobs:
  comment:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: token
        run: echo "${{ secrets.GITHUB_TOKEN }}"

