name: to use cachee
on:
  push:
    branches: [main ,dev]

jobs:
  build:
    env:
      ACTIONS_STEP_DEBUG: true
    runs-on:  ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: setup nodejs
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: cache dependencies
        id: cacheer
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key:  cache-node-${{hashFiles('**/package-lock.json')}}
          restore-keys: |
            cache-node-
      - name: init
        if: ${{steps.cacheer.outputs.cache-hit}} != 'true'
        run: npm ci
      
      