name: to call another wf
on:
  push:
    branches: [dev, main]
jobs:
  build:
    runs-on:  ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: call workflow
        uses: ./.github/workflows/python.yml
        with:
          python-version: 3.11
