name: Runner + Service Container

on:
  push:
    branches: [main, dev]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      db:
        image: mysql:8.1
        env:
          MYSQL_ROOT_PASSWORD: yoyoy
          MYSQL_DATABASE: testdb
        options: >-
          --health-cmd="mysqladmin ping -h localhost -pyoyoy"
          --health-interval=5s
          --health-timeout=3s
          --health-retries=20
    container:
      image: python:3.14.0
    steps:
      - uses: actions/checkout@v4

      - name: Install MySQL client
        run: sudo apt-get update && sudo apt-get install -y mysql-client

      - name: Wait for MySQL
        run: |
          until mysqladmin ping -h db -pyoyoy; do
            echo "Waiting for MySQL..."
            sleep 2
          done

      - name: Test connection
        run: mysql -h db -P 3306 -uroot -pyoyoy -e "SHOW DATABASES;"
