name: Dependent Jobs Example

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build project
        run: echo "Building project..."

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Run tests
        run: echo "Running tests after build..."

  deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Deploy application
        run: echo "Deploying application after successful tests..."

  final:
    runs-on:  ubuntu-latest
    needs: [build,test,deploy]
    steps:
      - name: checker
        run: echo "FINAL JOB IS DONE"
