name: using a cdocker container action
on:
  push:
    branches: [dev,main]


jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast:  false
      matrix:
        os: [ubuntu-latest, windows-latest]
        node: [14, 16, 65]
        include:
          - os: macos-latest
            node: 18
          - os: ubuntu-latest
            node: 14
    steps:
    - name: hi
      run: echo "hi"
